# Ignore build directories
Build/
Debug/
Release/
Animation/
Blend/
Audio/
.vs/
.git/

# Ignore Visual Studio files
*.suo
*.user
*.userprefs
*.sln.ide

# Ignore debug files
*.pdb
*.ipch

# Ignore temporary files
*.tmp
*.temp
*.log

# Ignore specific files
.vs/
*.ipch/